$black: #1d1d1d
$gray: #3b3b3b
$white: #f7f7f7
// $blue: #34b0e1
$blue: #2c98c3
$green: #45ac54
$red: #ce1a35
$purple: #6b1ace

//Initialization    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    color: $black
    font-family: 'Lato', sans-serif
    scroll-behavior: smooth

a
    text-decoration: none

li
    list-style: none

body
    min-height: 100vh
    background-image: linear-gradient(to right bottom, #ffffff, #fcfcfc, #f9f9f9, #f7f7f7, #f4f4f4)

main
    margin-top: 35px

section
    &:not(#welcome)
        padding: 25px 100px

        @media only screen and ( max-width: 530px )
            padding: 25px

#header
    position: fixed
    top: 0
    display: flex
    justify-content: space-between
    padding: 7px 35px
    width: 100%
    transition: background 250ms
    z-index: 1000

    #header_nav
        display: flex
        justify-content: space-evenly

        .nav_link
            margin: 0 10px
            font-size: 1.1em
            
            a
                transition: color 100ms

            &:first-child:hover a
                color: $blue

            &:nth-child(2):hover a
                color: $green

            &:nth-child(3):hover a
                color: $red

            &:nth-child(4):hover a
                color: $purple

    #page_lang
        margin: 0 15px
        padding: 1px 10px
        width: 45px
        color: $black
        font-size: 1em
        background-color: transparent
        cursor: pointer
        border: 1px solid $black
        border-radius: 20px
        transition: filter 250ms

        &:hover
            filter: invert(0.2)

#welcome
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    min-height: 90vh

    #welcome_photo
        height: 450px
        width: 450px
        margin: 20px
        border-radius: 50%
        outline: 1px solid $black

    #welcome_content
        margin: 20px 0
        width: 50%
        min-width: 250px

    h1
        font-size: 3.5em

    h2
        font-size: 2.8em

    @media only screen and ( max-width: 979px )
        #welcome_content
            position: absolute
            top: 65%
            width: 70%
        
        h1, h2
            text-align: center

    @media only screen and ( max-width: 745px )
        #welcome_content
            position: relative

        #welcome_photo
            display: none
    
    #welcome_message
        transition: color 500ms

#about
    display: flex
    justify-content: space-around
    align-items: center

    div
        display: flex
        flex-direction: column

    h2
        margin: 10px 15px
        font-size: 2em
        text-align: center

    p
        margin: 15px 40px
        font-size: 1.1em
        text-align: justify

    figure
        height: 500px
        max-width: 450px
        min-width: 420px
        background-color: $gray 

    @media only screen and (max-width: 940px)
        figure
            display: none

    #about_certification
        align-self: center
        margin: 5px
        padding: 8px 15px
        background-color: $black
        color: $white
        font-size: 1.1em
        font-weight: 600
        border-radius: 5px
        transition: background 100ms

        &:hover
            background-color: $blue

#skill
    h2
        margin: 10px 15px
        font-size: 2em
        text-align: center

    p
        margin: 15px 40px
        font-size: 1.1em
        text-align: center

    .skill_list
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: baseline
        margin: 30px 20px

        li
            display: flex
            flex-direction: column
            align-items: center
            margin: 16px

            img
                width: 65px
                margin-bottom: 5px

            // .skill_description
            //     opacity: 0
            //     transition: 150ms

            // &:hover
            //     .skill_description
            //         opacity: 1

#project
    display: flex
    flex-direction: column
    align-items: center

    h2
        margin: 10px 15px
        font-size: 2em
        text-align: center

    #project_content
        display: flex
        flex-direction: column
        align-items: center

        .project_card
            display: flex
            justify-content: center
            align-items: center
            width: min-content
            margin: 20px 10px
            border-radius: 5px
            box-shadow: 0px 0px 5px 1px #1d1d1d38
            overflow: hidden

            &:nth-child(even)
                flex-direction: row-reverse

            &:hover
                .project_preview img
                    filter: grayscale(0)

        .project_preview
            display: flex
            justify-content: center
            height: 290px
            width: 500px
            min-width: 580px
            overflow: hidden
                
            img
                width: 100%
                filter: grayscale(1)
                object-fit: cover
                transition: filter 150ms

        .project_description
            min-width: 460px
            width: 50%
            margin: 0 20px
            text-align: justify

            h3
                margin: 10px 0
                font-size: 1.7em

            p
                margin: 10px 0
                font-size: 1.1em

//Dinamic class
.scrolled
    background-color: $black
    
    #page_lang
        border-color: $white !important
        color: white !important

    #header_logo, a
        color: $white
        filter: brightness(2)

.appear
    animation: appear 150ms ease-out backwards

.vanish
    animation: vanish 150ms ease-in backwards

@keyframes appear
    0%
        transform: translateY(-10px)
        opacity: 0

    100%
        transform: translateY(0)
        opacity: 1

@keyframes vanish
    100%
        transform: translateY(10px)
        opacity: 0
                        